.card-container-pedir  {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.card-pedir {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  width: calc(40% - 20px);
  height: 160px;
  display: flex ;

}

.card-content-pedir {
  padding: 10px;
}

.card-content-pedir {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
}

.card-text-pedir {
  flex-grow: 1;
}

.card-button-pedir {
  background-color: #ff8800;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 28px;
  border-radius: 1000px;
}

.card-button-pedir:hover {
  background-color: #ff6600;
}

.card-image-pedir {
  width: 75%;
  height: auto;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
  background-color: black;
}
.card-content-pedir h2 {
  font-size: 18px;
  margin: 10px 0;
}

.card-content-pedir p {
  margin: 5px 0;
  font-size: 14px;

}

.card-price-pedir {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .card-pedir {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card-pedir {
    width: 100%;
  }
}
